<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="stylepagEventos.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="noticia.html">News</a></li>
        <li><a href="VermaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="corpoPag">
    <div class="localndSeraTexto">
        <div id="cabecalho">
            <h2 class="nomeEvento">Feliz 2022</h2>
            <p class="dataEvento">20 de dezembro de 2021 </p>
        </div>

        <div class="textoInformativo">

            <p>Reinvenção!⠀<br>
                Superação (e esperança)!⠀</p>

            <p>Essas poderiam ser as palavras para resumir o ano de 2021 no Sempre Criança.🧡💛⠀</p>

            <p>Muito desafios vencidos com sucesso.⠀<br>
                Todos nós, Juntos! Porque só assim o Sempre Criança existe e segue em frente.⠀</p>

            <p>O que fica de lição? Esperança! ⠀<br>
                Esperança de que a solidariedade ainda é maior que as dificuldades. Esperança de que, de fato, podemos construir um mundo melhor.⠀</p>

            <p>E é isso que o Sempre Criança deseja pra vocês em 2022: um mundo melhor! Que todos tenhamos saúde e paz, para que possamos, juntos, construir um mundo melhor para todos!⠀</p>

            <h3>Feliz Ano Novo!! </h3>
        </div>
    </div>
</div>

<script src="scriptPagEventos.js"></script>
</body>
</html>