<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="/static/style/stylepagEventos.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="/static/image/logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="noticia.html">News</a></li>
        <li><a href="VermaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="corpoPag">
    <div class="localndSeraTexto">
        <div id="cabecalho">
            <h2 class="nomeEvento">Muito Obrigado!</h2>
            <p class="dataEvento">18 de Novembro de 2021 </p>
        </div>

        <div class="textoInformativo">

            <h2>Querido Voluntário,</h2>
            <p>Esperamos que esse e-mail lhe encontre bem.</p>

            <p>Nós, do Sempre Criança, viemos hoje expressar nossa gratidão por acreditar no nosso trabalho, sonhar junto com a gente e, através do seu apoio e sua doação, tornar possível todos os nossos sonhos.</p>

            <p>A pandemia do COVID-19 tem sido um desafio imenso para manutenção do nosso trabalho e principalmente, continuar colocando alimento na mesa de milhares de famílias socialmente vulneráveis. Só em 2021, graças a você e nossos parceiros já foram doadas 120 toneladas de alimentos. Sim, você faz parte disso!! E somos muito gratos por isso.</p>

            <p>Com o avanço da vacinação e com a diminuição do número de casos na cidade, aos poucos estamos voltando com as atividades presenciais, nos adaptando. Claro que com todo cuidado e respeitando as normas sanitárias. O uso de máscara é obrigatório assim como a apresentação do cartão de vacinação.</p>

            <img class="FotoMexendoNela" src="/static/image/FotosNoticias/1.jpg"/>

            <p>Maio/2019<br>
                O Sempre Ação retornou, por enquanto, no Projeto Acolher. Localizado no Rio do Ouro, tem sido um grande parceiro para nós: nosso quartel general para guardarmos nossas doações. Clique AQUI e veja as fotos da última edição. Estamos trabalhando com grupos de até 15 voluntários, nosso próximo SA será dia 13/11, saiba mais AQUI.</p>
        
            <img class="FotoMexendoNela" src="/static/image/FotosNoticias/2.jpg"/>
            
            <p>Recebemos um convite da Secretaria Municipal de Educação de Niterói e também retomamos com o Sempre Saúde, com foco na temática da Saúde Mental para os alunos da Escola Municipal Paulo Freire, no Fonseca. A primeira edição foi tão bacana que fomos convidados, pela Secretaria, para repetir a mesma atividade na Escola Municipal Altivo César, no Barreto.</p>
            
            <img class="FotoMexendoNela" src="/static/image/FotosNoticias/3.jpg"/>

            <p>O Alimentando Sonhos está a pleno vapor, beneficiando às instituições cadastradas. Um dos nossos principais objetivos é “dar luz para quem está brilhando“. Ou seja, graças ao seu suporte conseguimos potencializar os resultados daqueles que trabalham em prol da infância em diversas comunidade em situação de vulnerabilidade social de Niterói e São Gonçalo.</p>
        
            <img class="FotoMexendoNela" src="/static/image/FotosNoticias/4.jpg"/>

            <p>E em breve divulgaremos o Natal em Família 2021. Trezentas famílias receberão uma cesta básica e as 350 crianças ganharão um brinquedo e um livro (já conseguimos pelo Itaú Social).</p>
        
            <h3> Aproveitamos para pedir que continue conosco sonhando e concretizando nossos sonhos. Caso queira ser um doador mensal, entre em contato conosco para saber mais.</h3>
        </div>
    </div>
</div>

<script src="/static/script/scriptPagEventos.js"></script>
</body>
</html>