<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="/static/style/stylepagEventos.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="{{ url_for('index') }}">
        <img src="/static/image/logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="noticia.html">News</a></li>
        <li><a href="VermaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="corpoPag">
    <div class="localndSeraTexto">
        <div id="cabecalho">
            <h2 class="nomeEvento">É Natal no Sempre Criança</h2>
            <p class="dataEvento">5 de dezembro de 2022 </p>
        </div>

        <div class="textoInformativo">

            <h2>Querido Voluntário,</h2>
            <h3>Dezembro chegou e estamos aqui para compartilhar nossa Campanha de Natal!</h3>
            <p>Este ano estamos com o desafio de transformar o fim de ano de 470 crianças!!</p>

            <p>Contamos com a sua participação para concretizar nosso vigésimo Natal.</p>
            
            <h3>Como será esse ano?</h3>

            <p>Ainda não nos sentimos confinantes de retornar a nossa tão tradicional Festa de Natal no ginásio do Salesiano.</p>

            <p>Portanto, seguiremos no formato de apoio nas pequenas festas realizadas pelas 07 instituições selecionadas.</p>

            <p>Cada criança receberá um brinquedo e um livro, os livros já foram doados pela. Fundação Itaú Social, mas ainda falta recursos para comprar 68 brinquedos.
                Além disso 300 famílias receberão uma cesta Natalina. Metade já foram compradas com o que arrecadamos na Feijoada Beneficente (em outubro). Cada um custa R$98,04, precisamos ainda garantir 68 cestas (cerca de 6,6 mil reais).</p>

            <h3>Como participar?</h3>

            <p>É muito simples, basta doar qualquer quantia em nossa conta bancária:</p>
            <p>BANCO DO BRASIL<br>
                Ag.: 2907-6<br>
                CC.: 150835-0<br>
                CNPJ: 12.629.489/0001-44<br>
                Razão social: Sempre Crianca<br>
                Pix/e-mail: pix@semprecrianca.org</p>

            <p>PagSeguro (cartão de crédito ou boleto bancário): https://pag.ae/7YDXV1kCL</p><!--Fazer redirecionamento no pagseguro-->

            <p>Dúvidas? Entre em contato conosco pelo email contato@semprecrianca.org ou pelo WhatsApp (21 99572-0162, ou CLIQUE AQUI)</p>>

            <img class="FotoMexendoNela" src="/static/image/FotosEventos/Feijoada-SC-storie-576x1024.png"/>
        
        </div>
    </div>
</div>

<script src="/static/script/scriptPagEventos.js"></script>
</body>
</html>