<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="/static/style/styleNoticia.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
    <div id="head">
        <a id="logo" href="{{ url_for('index') }}">
            <img src="/static/image/logo2.png" alt="Logo">
        </a>
        <button id="botaoMenuInicial">
            <div class="linhabotao"></div>
            <div class="linhabotao"></div>
            <div class="linhabotao"></div>
        </button>
    </div>

    <div id="menu" class="menu">
        <ul>
            <li><a href="index.html">Página inicial</a></li> <!-- Caminho relativo corrigido -->
            <li><a href="quemSomos.html">Quem somos</a></li>
            <li><a href="instituicoes.html">Instituições</a></li>
            <li><a href="doacao.html">Doações</a></li>
            <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
            <li><a href="parceria.html">Parceria</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="noticia.html">News</a></li>
            <li><a href="VerMaisFotos.html">Fotos</a></li>
            <li><a href="#footer" class="smooth-scroll">Contato</a></li>
        </ul>
    </div>

    <div id="divisao">
        <h2 class="textoTipo">NOTÍCIAS</h2>
    </div>

    <div id="corpoNoticias">
        <div class="container">
            <div class="not" data-href="sejaVoluntario.html">
                <h1>Quero ser voluntário! E agora?</h1>
                <h3>28 de janeiro de 2024 / 12:57</h3>
                <a href="sejaVoluntario.html">
                    <p>Querido Voluntário, O ano de 2024 começou e você quer abraçar uma causa? Vem com a gente! O Sempre Criança desde 2002 inspira e mobiliza pessoas em prol de instituições de apoio à infância e juventude por meio do incentivo ao voluntariado e da cultura de doação. Para ser voluntário basta estar no local e […]</p>
                </a>
            </div>

            <div class="not" data-href="DecimaPrimeiraFeijoada23.html">
                <h1>11a Feijoada Beneficente</h1>
                <h3>3 de setembro de 2023 / 22:43</h3>
                <a href="DecimaPrimeiraFeijoada23.html">
                    <p>Querido Voluntário, Teremos Feijoada Beneficente do Sempre Criança, siim! Nossa 11a Feijoada Beneficente acontece no dia 11/11, no salão principal do Praia Clube São Francisco e esperamos você! Será uma tarde de muita música, comida boa, brincadeiras para os pequenos e um tempero especial: Amor ao próximo! Teremos a feijoada tradicional pelas mãos da Casa […]</p>
                </a>
            </div>

            <div class="not" data-href="dezCampanhaMaterialEscolar24.html">
                <h1>9a Campanha de Material Escolar</h1>
                <h3>12 de março de 2023 / 22:56</h3>
                <a href="dezCampanhaMaterialEscolar24.html">
                    <p>A educação é a base de todo ser humano e aqui temos a missão de potencializar a formação das crianças que estão em desenvolvimento na sociedade.</p>
                </a>
            </div>

            <div class="not" data-href="estamosDeVolta12_2023.html">
                <h1>Estamos de volta!</h1>
                <h3>12 de março de 2023 / 22:33</h3>
                <a href="estamosDeVolta12_2023.html">
                    <p>Querido Voluntário, Iniciamos um novo ano e queremos compartilhar com você alguns números importantes. Mesmo 2022 tendo sido um ano muito desafiador, com o seu apoio conseguimos resultados incríveis! No último ano retornamos às atividades presenciais: nosso querido Sempre Ação ganhou uma “casa” nova, o Sempre Saúde focou na saúde bucal e alimentação saudável, com Alimentando Sonhos apoiamos às instituições cadastradas com […]</p>
                </a>
            </div>

            <div class="not" data-href="NatalSempreCrianca2022.html">
                <h1>É Natal no Sempre Criança</h1>
                <h3>5 de dezembro de 2022 / 22:36</h3>
                <a href="NatalSempreCrianca2022.html">
                    <p>Querido Voluntário, Dezembro chegou e estamos aqui para compartilhar nossa Campanha de Natal! Este ano estamos com o desafio de transformar o fim de ano de 470 crianças!! Contamos com a sua participação para concretizar nosso vigésimo Natal. Como será esse ano? Ainda não nos sentimos confinantes de retornar a nossa tão tradicional Festa de […]</p>
                </a>
            </div>

            <div class="not" data-href="DecimaFeijoada2022.html">
                <h1>10a Feijoada Beneficente</h1>
                <h3>18 de setembro de 2022 / 19:21</h3>
                <a href="DecimaFeijoada2022.html">
                    <p>Querido Voluntário, Teremos Feijoada Beneficente do Sempre Criança, siim! Este ano completamos 20 anos de existência e não podíamos deixar a Feijoada Beneficente de fora. Será no dia 15 de outubro no @praiaclubesf Será uma tarde de muita música, comida boa, brincadeiras para os pequenos e um tempero especial: Amor ao próximo! Teremos a feijoada […]</p>
                </a>
            </div>

            <div class="not" data-href="acoesEm2022.html">
                <h1>Ações em 2022</h1>
                <h3>22 de março de 2022 / 22:10</h3>
                <a href="acoesEm2022.html">
                    <p>Querido Voluntário, É com uma alegria que não cabe no peito que informamos que aos poucos estaremos retornando às atividades presenciais! A partir de abril esperamos você para ter uma experiência voluntária incrível e inesquecível. Em breve maiores informações…</p>
                </a>
            </div>

            <div class="not" data-href="ResultadoNatal2021.html">
                <h1>Resultados do Natal de 2021</h1>
                <h3>10 de fevereiro de 2022 / 07:24</h3>
                <a href="ResultadoNatal2021.html">
                    <p>Querido Voluntário, Esperamos que esse e-mail lhe encontre bem e com saúde! E desejamos um 2022 repleto de saúde e motivos para sorrir. Após um período de recesso para recarregarmos nossas energias, iniciamos mais um ano e estamos aqui para expressar nossa gratidão por acreditar no nosso trabalho, sonhar junto com a gente e, através […]</p>
                </a>
            </div>

            <div class="not" data-href="Feliz2022SempreCrianda.html">
                <h1>Feliz 2022</h1>
                <h3>30 de dezembro de 2021 / 18:50</h3>
                <a href="Feliz2022SempreCrianda.html">
                    <p>Querido Voluntário, Reinvenção!⠀ Superação (e esperança)!⠀ ⠀ Essas poderiam ser as palavras para resumir o ano de 2021 no Sempre Criança.🧡💛⠀ ⠀ Muito desafios vencidos com sucesso.⠀ Todos nós, Juntos! Porque só assim o Sempre Criança existe e segue em frente.⠀ ⠀ O que fica de lição? Esperança! ⠀ Esperança de que a solidariedade ainda […]</p>
                </a>
            </div>

            <div class="not" data-href="muitoObrigado2021.html">
                <h1>Muito Obrigado!</h1>
                <h3>18 de novembro de 2021 / 07:30</h3>
                <a href="muitoObrigado2021.html">
                    <p>Querido Voluntário, Esperamos que esse e-mail lhe encontre bem. Nós, do Sempre Criança, viemos hoje expressar nossa gratidão por acreditar no nosso trabalho, sonhar junto com a gente e, através do seu apoio e sua doação, tornar possível todos os nossos sonhos. A pandemia do COVID-19 tem sido um desafio imenso para manutenção do nosso trabalho e principalmente, continuar colocando alimento na mesa de […]</p>
                </a>
            </div>
        </div>
    </div>

    
    <div id="divisao"></div>
    <div id="footer">
        <div class="recebaInformativosEicones">
        <div class="retangulo">
            <form id="ContatoForm" action="/enviar_email" method="post">
                <h1>Receba nosso informativo</h1>
                <p>
                    <label>Email:
                        <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
                    </label>
                </p>
                <span class="error-message" id="emailInfoError"></span>
                <button id="btnInfo" type="submit">Enviar</button>
                <span class="success-message" id="infoSuccessMessage"></span>
            </form>
        </div>
        <div class="retanguloo" id="icons">
            <a href="https://www.facebook.com/semprecrianca/?locale=pt_BR"><i id="face" class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/c/ProjetoSempreCrian%C3%A7a/videos"><i id="you" class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram.com/projetosemprecrianca?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i id="insta" class="fa-brands fa-instagram"></i></a>
        </div>
        </div>
    
        <div class="retangulo">
            <h1>Entre em contato conosco</h1>
            <p>
                <label>Nome:
                    <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
                </label>
            </p>
            <span class="error-message" id="nomeContError"></span>
            <p>
                <label>Email:
                    <input type='text' name="emailCont" class='inputs' id="emailCont"/>
                </label>
            </p>
            <span class="error-message" id="emailContError"></span>
            <p>
                <label>Telefone:
                    <input type='text' name="telCont" class='inputs' id="telCont"/>
                </label>
            </p>
            <span class="error-message" id="telContError"></span>
            <p>
                <label>Assunto:
                    <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
                </label>
            </p>
            <span class="error-message" id="assuntoContError"></span>
            <p>
                <label>Mensagem:
                    <textarea name="mensCont" class="inputs" id="mensg"></textarea>
                </label>
            </p>
            <span class="error-message" id="mensgError"></span>
            <button id="btnContato">Enviar</button>
            <span class="success-message" id="contatoSuccessMessage"></span>
        </div>
    </div>
    
    <script src="/static/script/script.js"></script>
    </body>
    </html>